<launch>
  <!-- Launch Gazebo with custom world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find haptic_control)/worlds/my_simulation_world.world"/>
  </include>

  <!-- Spawn haptic pen -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_haptic_pen"
        args="-urdf -model haptic_pen -file $(find haptic_control)/models/haptic_pen/haptic_pen.urdf -x 0 -y 0 -z 1" />

  <!-- Launch haptic device driver -->
  <include file="$(find omni_common)/launch/touch.launch"/>

  <!-- Launch haptic control node -->
  <node pkg="haptic_control" type="haptic_to_gazebo_pen.py" name="haptic_gazebo_pen_control" output="screen"/>

</launch>
